main {
  display: flex;
  width: 97vw;
  height: 98vh;
  justify-content: center;
  align-items: center;
}
.delete {
  border: 2px solid orange;
  font-family: sans-serif;
  padding: 0.5em;
  border-radius: 10%;
}
.container {
  display: none;
  position: fixed;
  width: 50vw;
  max-width: 400px;
  height: 33vh;
  max-height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid gray;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3%;
  overflow: hidden;
}
.container table {
  height: 100%;
  border-collapse: collapse;
  border: 0px;
}
tr {
  display: flex;
  height: 33%;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', sans-serif;
}
tr:nth-child(1) {
  background-color: white;
  border-bottom: 1px solid #d9d9d9;
  color: #24478f;
}
.X {
  position: absolute;
  left: 1em;
  color: lightgrey;
  font-weight: bolder;
  font-size: 1.5em;
}
tr:nth-child(2) {
  background-color: #f2f2f2;
  border-bottom: 1px solid #d9d9d9;
}
em {
  font-style: normal;
  font-weight: bold;
  color: red;
}
tr:nth-child(3) {
  height: 34%;
  background-color: #d9d9d9;
}
.okcancel {
  display: flex;
  width: 100%;
  justify-content: center;
}
.ok, .cancel {
  color: white;
  border-radius: 5%;
  padding: 0.7em;
  width: 40%;
  margin: 3px;
  transition: background-color 0.5s;
}
.ok {
  background-color: grey;
}
.ok:hover {
  background-color: silver;
}
.cancel {
  background-color: SteelBlue;
}
.cancel:hover {
  background-color: SkyBlue;
}
.dimmer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: black;
}
