main {
  display: grid;
  width: 97vw;
  height: 98vh;
  justify-content: center;
  align-items: center;
}
em {
  display: inline;
  font-style: normal;
  font-weight: bold;
  color: red;
}

.delete {
  border: 2px solid orange;
  background-color: white;
  font-family: sans-serif;
  padding: 0.5em;
  border-radius: 10%;
}
.container {
  display: none;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;

  position: fixed;
  width: 50vw;
  max-width: 400px;
  height: 28vh;
  max-height: 220px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid gray;
  border-radius: 3%;
  overflow: hidden;
  box-shadow: -5px 5px 5px gray;
}
.container>* {
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Trebuchet MS', sans-serif;
  border-bottom: 1px solid #d9d9d9;
  vertical-align: middle;
}
.container h1 {
  line-height: 100%;
  vertical-align: middle;
}
.container>*:nth-child(1) {
  grid-column: 1 / span 2;
  background-color: white;
  color: #24478f;
}
.X {
  position: absolute;
  color: lightgrey;
  font-weight: bolder;
  font-size: 1.5em;
  border-bottom: 0;
  top: 0.7em;
}
.container>*:nth-child(3) {
  grid-column: 1 / span 2;
  background-color: #f2f2f2;
}
.container>*:nth-child(3)>p {
  line-height: 100%;
  vertical-align: middle;
}
.okcancel {
  grid-area: 3 / 1 / span 1 / span 2;
  background-color: #d9d9d9;
}
.ok, .cancel {
  grid-row: 3 / span 1;
  color: white;
  border-radius: 5%;
  padding: 0.7em;
  margin: auto 5px auto 5px;
  transition: background-color 0.5s;
  vertical-align: middle;
}
.ok {
  grid-column: 1 / span 1;
  background-color: grey;
}
.ok:hover {
  background-color: silver;
}
.cancel {
  grid-column: 2 / span 1;
  background-color: SteelBlue;
}
.cancel:hover {
  background-color: SkyBlue;
}
.dimmer {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.4;
}
.delete, .ok, .cancel, .X{
  user-select: none;
}
