main {
  display: grid;
  width: 97vw;
  height: 98vh;
  justify-content: center;
  align-items: center;
}
em {
  font-style: normal;
  font-weight: bold;
  color: red;
}
.delete {
  border: 2px solid orange;
  font-family: sans-serif;
  padding: 0.5em;
  border-radius: 10%;
}
.container {
  display: none;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  position: fixed;
  width: 50vw;
  max-width: 400px;
  height: 33vh;
  max-height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid gray;
  border-radius: 3%;
  overflow: hidden;
}
.container>* {
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Trebuchet MS', sans-serif;
  border-bottom: 1px solid #d9d9d9;
  vertical-align: middle;
}
.container h1 {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
.container>*:nth-child(1) {
  background-color: white;
  color: #24478f;
}
.X {
  position: absolute;
  color: lightgrey;
  font-weight: bolder;
  font-size: 1.5em;
  border-bottom: 0;
}
.container>*:nth-child(3) {
  background-color: #f2f2f2;
  display: grid;
  justify-content: center;
  align-content: center;
}
.okcancel {
  background-color: #d9d9d9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-template-rows: 1fr;
}
.ok, .cancel {
  color: white;
  border-radius: 5%;
  padding: 0.7em;
  margin: auto 5px auto 5px;
  transition: background-color 0.5s;
  vertical-align: middle;
}
.ok {
  background-color: grey;
}
.ok:hover {
  background-color: silver;
}
.cancel {
  background-color: SteelBlue;
}
.cancel:hover {
  background-color: SkyBlue;
}
.dimmer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: black;
}
